<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <header class="major header-icons" id="header">
        <ul class="icons">
            <li>
                <a href="dat://consento.org" class="icon" title="dat - decentralized web; open with Beaker Browser">
                    <svg width="15px" viewBox="0 0 48 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- This Logo is provided by Marc Chataigner under the creative-commons-by-nc-nd license -->
                    <g fill="#7f888f" fill-rule="nonzero"><path d="M18.8125,0.96875 L18.59375,1.09375 L7.59375,6.09375 L7.28125,6.21875 L7.125,6.53125 L1.125,17.53125 L0.96875,17.78125 L1,18.0625 L2,33.0625 L2.03125,33.40625 L2.25,33.6875 L12.25,44.6875 L12.5,44.9375 L12.84375,45 L26.84375,47 L27.125,47.03125 L27.375,46.9375 L39.375,41.9375 L39.65625,41.8125 L44.8125,34.59375 L44.9375,34.375 L45,34.15625 L47,21.15625 L47.03125,20.90625 L46.9375,20.65625 L42.9375,9.65625 L42.84375,9.375 L42.5625,9.1875 L32.5625,2.1875 L32.34375,2.03125 L32.0625,2 L19.0625,1 L18.8125,0.96875 Z M18.84375,3.15625 L21.34375,5.15625 L13.375,5.65625 L18.84375,3.15625 Z M22.15625,3.25 L27.4375,3.65625 L24.1875,4.875 L22.15625,3.25 Z M31.59375,4.21875 L35.28125,9.75 L26.65625,6.0625 L31.59375,4.21875 Z M35.78125,6.84375 L40.03125,9.84375 L38.34375,10.6875 L35.78125,6.84375 Z M21.65625,7.15625 L15.96875,13.53125 L10.3125,7.875 L21.65625,7.15625 Z M25.53125,7.71875 L36.09375,12.25 L28.5625,18.28125 L25.53125,7.71875 Z M23.53125,8.03125 L26.46875,18.25 L17.6875,14.59375 L23.53125,8.03125 Z M8.875,9.3125 L14.625,15.0625 L8.15625,22.21875 L8.875,9.3125 Z M6.75,11.375 L6.15625,22.09375 L3.1875,17.9375 L6.75,11.375 Z M41.4375,11.40625 L44.71875,20.40625 L41.65625,21.65625 L39.1875,12.53125 L41.4375,11.40625 Z M37.4375,13.71875 L39.59375,21.65625 L30.21875,19.5 L37.4375,13.71875 Z M17.09375,16.5625 L26.21875,20.34375 L17.875,28.6875 L17.09375,16.5625 Z M15.15625,17.4375 L15.875,29.1875 L8.53125,24.78125 L15.15625,17.4375 Z M29.40625,21.34375 L39.28125,23.625 L32.4375,32.71875 L29.40625,21.34375 Z M3.25,21.46875 L5.84375,25.09375 L3.75,29.25 L3.25,21.46875 Z M27.5,21.9375 L30.59375,33.5625 L18.96875,30.46875 L27.5,21.9375 Z M44.71875,22.59375 L43.71875,29.1875 L42.1875,23.59375 L44.71875,22.59375 Z M40.5625,25.25 L42.71875,33.09375 L34.15625,33.8125 L40.5625,25.25 Z M8.59375,27.09375 L15.1875,31.0625 L10.59375,34.34375 L8.59375,27.09375 Z M6.71875,27.8125 L8.5,34.28125 L4.375,32.5 L6.71875,27.8125 Z M16.71875,32.4375 L21.4375,39.8125 L12.03125,35.78125 L16.71875,32.4375 Z M19.25,32.625 L29.9375,35.46875 L24.21875,40.46875 L19.25,32.625 Z M41.90625,35.1875 L38.8125,39.53125 L34.46875,35.8125 L41.90625,35.1875 Z M6.84375,35.71875 L9.21875,36.75 L10.25,39.46875 L6.84375,35.71875 Z M32,36.3125 L36.5,40.15625 L26.875,40.8125 L32,36.3125 Z M11.75,37.84375 L20.59375,41.625 L13.625,42.875 L11.75,37.84375 Z M33.03125,42.40625 L27.34375,44.78125 L25.90625,42.875 L33.03125,42.40625 Z M23.5625,43.09375 L24.75,44.65625 L19.21875,43.875 L23.5625,43.09375 Z"></path></g>
                    </svg>
                </a>
            </li>
            <li><a href="https://github.com/consento-org/" target="_blank" class="icon fa-github" title="Github"><span class="label">Github</span></a></li>
            <li><a href="https://keybase.io/team/consento" target="_blank" class="icon fa-comments" title="Keybase Chat"><span class="label">Keybase Chat</span></a></li>
            <li><a href="{{@site.url}}/blog/rss/" class="icon fa-rss" target="_blank" rel="noopener"><span class="label" title="RSS">RSS</span></a></li>
        </ul>
        <a href="{{@site.url}}" class="{{#if @site.logo}}image{{/if}}">{{#if @site.logo}}<img src="/../assets/images/consento-with-text.png" class="img-fluid navbar-brand " alt="{{@site.title}}" />{{/if}}</a>
        <section class="tagline">{{@site.description}}</section>
    </header>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div id="menu">
        {{#if @site.navigation}}
            {{navigation}}
        {{/if}}
      </div>
  </div>
</nav>

<style>
    .navbar-brand {
        max-width: 12em;
    }

    .header-icons .icons {
        text-align: left !important;
        padding-left: 5px;
    }
    .header-icons {
        padding-top: 1em !important;
    }
    
    #menu {
        width: 100%;
    }

    #menu > ul {
        margin-top: 2em;
        float: right;
    }
    #menu > ul > li {
        border-top: initial;
        margin: initial;
        padding-top: initial;
        padding-bottom: initial;
        padding-left: 1em;
    }
    

    @media screen and (max-width: 500px) {
        .navbar-brand {
            max-width: 9em;
        }
    }

    @media screen and (max-width: 991px) {
        #menu > ul {
            float: initial;
        }
    }

    @media screen and (min-width: 1400px) {
        .navbar-brand {
            max-width: 20em;
        }

        #menu {
            font-size: 25px;
        }

        .header-icons .icons {
            font-size: 25px;
        }
    }

   
</style>