<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>

    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{asset "images/apple-touch-icon-57x57.png"}}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{asset "images/apple-touch-icon-114x114.png"}}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{asset "images/apple-touch-icon-72x72.png"}}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{asset "images/apple-touch-icon-144x144.png"}}" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{asset "images/apple-touch-icon-120x120.png"}}" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{asset "images/apple-touch-icon-152x152.png"}}" />
    <link rel="icon" type="image/png" href="{{asset "images/favicon-32x32.png" sizes="32x32"}}" />
    <link rel="icon" type="image/png" href="{{asset "images/favicon-16x16.png" sizes="16x16"}}" />
    <meta name="application-name" content="Consento"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="{{asset "images/mstile-144x144.png"}}" />

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "main/css/main.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "main/css/bootstrap.min.css"}}" />
    
    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}

</head>
<body class="is-preload {{body_class}}">

    <div id="wrapper">
        <main id="main"> 
                {{> topbar}}

                {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
                {{{body}}}
                {{> footer}}

        </main>
    </div>

    {{!-- Theme Scripts --}}
    <script src="{{asset "main/js/jquery.min.js"}}"></script>
    <script src="{{asset "main/js/browser.min.js"}}"></script>
    <script src="{{asset "main/js/breakpoints.min.js"}}"></script>
    <script src="{{asset "main/js/util.js"}}"></script>
    <script src="{{asset "main/js/main.js"}}"></script>
    <script src="{{asset "main/js/bootstrap.min.js"}}"></script>
    <script src="{{asset "main/js/popper.min.js"}}"></script>
    {{!-- Ghost outputs important scripts & data with the {ghost_foot} tag
    it should always be the very last thing before the closing body tag --}}
    {{ghost_foot}}

</body>
</html>
<style>
    html, body { overflow-x: hidden; }
    
    @font-face {
        font-family:'Catamaran-SemiBold';
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: normal;
        font-style: normal; 
        src:local("Catamaran-SemiBold"),url('/assets/main/fonts/Catamaran-SemiBold.ttf') format('truetype');
    }

    @font-face {
        font-family: 'WorkSans-Regular';
        src: url('/assets/main/fonts/WorkSans-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: normal;
        font-style: normal; 
    }

    @font-face {
        font-family: 'WorkSans-SemiBold';
        src: url('/assets/main/fonts/WorkSans-SemiBold.ttf') format('truetype'); /* Safari, Android, iOS */
        font-weight: normal;
        font-stretch: normal;
        font-style: normal; 
        letter-spacing: normal;
    }
    @font-face {
        font-family: 'WorkSans-ExtraBold';
        src: url('/assets/main/fonts/WorkSans-ExtraBold.ttf') format('truetype'); /* Safari, Android, iOS */
        font-weight: normal;
        font-stretch: normal;
        font-style: normal; 
        letter-spacing: normal;
    }
    @font-face {
        font-family: 'Catamaran-ExtraBold';
        src: url('/assets/main/fonts/Catamaran-ExtraBold.ttf') format('truetype'); /* Safari, Android, iOS */
        font-weight: normal;
        font-stretch: normal;
        font-style: normal; 
        letter-spacing: normal;
    }
    @font-face {
        font-family: 'WorkSans-Light';
        src: url('/assets/main/fonts/WorkSans-Light.ttf') format('truetype');
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
    }

    h1 {
        font-family: 'Catamaran-SemiBold';
        font-size: 60px;
        line-height: 72px;
        color: rgba(45,45,45,0.87);
    }
    h2 {
        font-family: 'Catamaran-ExtraBold';
        font-size: 48px;
        color: rgba(15,15,15,0.87);
    }

    h3 {
        font-family: 'WorkSans-SemiBold';
        font-size: 36px;
        color: rgba(0,0,0,0.87);
    }
    
    h4, h5, h6 {
        font-family: 'WorkSans-SemiBold';
        color: #2B2B2B;
    }

    p {
        font-family: 'WorkSans-Regular';
        font-size: 21px;
        line-height: 27px;
        color: rgba(0,0,0,0.87)
    }
    
    .consento-blue {
        color: #37afc9;
    }

    .navbar {
        max-height: 100%;
    }

    header.content {
        padding-top: 9em;
    }

    .page-about h2, .page-team h2, .page-supporters h2 {
        margin-top: 2em;
        margin-bottom: 1.3em;
    }

    .page-about h3,.page-about h4,.page-about h5,.page-about p, 
    .page-team h3,.page-team h4,.page-team h5,.page-team p,
    .page-supporters h3,.page-supporters h4,.page-supporters h5,.page-supporters p {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    footer {
        background-color: #37afc9;
        color: #fff;
    }

    footer a, footer h2 {
        text-decoration: none;
        color: #fff;
    }

    @media screen and (max-width: 736px) {
        header.content {
            padding-top: 1em;
            margin-bottom: 3em;
        }
    }
</style>